Source: com.github.coralynnmay.goodvibes
Section: x11
Maintainer: Coralynn Colombe <coralynn@goodvibes.global>
Build-Depends: debhelper (>= 9), libgee-0.8-dev, libgtk-3-dev, meson, valac
Standards-Version: 3.9.6
Homepage: http://github.com/coralynnmay/goodvibes.app

Package: com.github.coralynnmay.goodvibes
Architecture: any
priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Send and receive good vibes
 Send and reveice good vibes
