.good-vibe {
    background: none;
    font-size: 16px;
    font-weight: bold;
}

.good_vibe:focus {
    background: none;
}

.header-bar {
    /* background-image: linear-gradient(#d1ff82, #9bdb4d); */
}
