.good-vibe {
    background: none;
    font-size: 16px;
    font-weight: bold;
}

.good_vibe:focus {
    background: none;
}

.new-vibe {
    padding: 32px;
    background: none;
    font-size: 16px;
    font-weight: bold;
}

.new-vibe-placeholder {
    color: #999;
}

.send_button {
    background: #41a204;
    color: #fff;
    font-weight: 600;
}

.send_button:active {
}

.good-vibe-window {
    background: #9ddbff;
}

.stack {
    color: #000;
    font-weight: bold;
}

.header-bar {
    /* background-image: linear-gradient(#d1ff82, #9bdb4d); */
}
